{% extends "base.html.twig" %}

{% block body %}
    <a href="{{ path('app_back_article_new') }}" class="btn">Ajouter</a>
    <br>

    <h4>Liste de mes articles</h4>

    <table>
        <tr>
            <td>Nom</td>
            <td></td>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>
                    <a href="{{ path('app_back_article_show', {'id': article.id}) }}" class="btn">Voir</a>
                    <a href="{{ path('app_back_article_edit', {'id': article.id}) }}" class="btn">Editer</a>
                    <a href="{{ path('app_back_article_delete', {'id': article.id, '_token': csrf_token('delete-item')}) }}" class="btn">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun article</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
